        .picture-cover{
            border-radius: 5px;
            background-image: url("Image/cover.jpg");
            min-height: 100px;
        }
        .lable{
            font-size: 22px;
        }
        .header {
            text-align: center;
            text-decoration: underline;
            font-size: 48px;
            font-family: "Lucida Console", "Courier New", monospace;
            letter-spacing: 5px;
            padding: 20px;

        }
        .header-lable {
            background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            animation: rainbow_animation 6s ease-in-out infinite;
            background-size: 400% 100%;
        }

        @keyframes rainbow_animation {
            0%,100% {
                background-position: 0 0;
            }

            50% {
                background-position: 100% 0;
            }
        }
		