*
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
div{
    height: 313px;
    width: 1400px;
    border: 1px solid white;
    transform: translate(-1%, 0%);
    top: 50%;
    left: 50%;
    border-radius: 2px;
    overflow: hidden;
}
div::before{
    content: "";
    height: 500%;
    width: 500%;
    position:absolute;
    background: conic-gradient(
        #fd004c,
        #fe9000,
        #fff020,
        #3edf4b,
        #3363ff,
        #b102b7,
        #CD5C5C,
        #ADFF2F
    );
    left: -200%;
    top: -200%;
    animation: spin 1.5s infinite linear;
}
@keyframes spin{
    100%{
        transform: rotate(-360deg);
    }
}
div::after{
    content: "";
    position: absolute;
    background-image: url("Image/cover.jpg");
    height: 95%;
    width: 95%;
    top: 2.5%;
    left: 2.0%;
}
