.mt-6 {
    margin-top: 7rem !important;
    margin-bottom: 1rem !important;
}
.content-title{
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}
.border-title{
    border-bottom: 5px solid orange;
    padding: 5px;
    width: fit-content;
}
h5.title{
    font-weight: bold;
}
.combo{
    text-align: center;
    color: orange;
    margin-top: 1rem;
} 
.navbar-label{
    font-weight: bold;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}
.btn-orange{
    background-color: orange;
}